# Resume Screening

Henry Yost, Riya Ashok, Angelina Jordan, Gokul Giridharan, and Refugio Zepeda Jr

### Question
Given a dataset of resumes, can we assess if someone is qualified for the job position?

#### Importing Dataset

In [15]:
import pandas as pd

df_orig = pd.read_csv("Resume.csv")
df = df_orig.drop("Resume_html", axis=1) # Drop HTML, because we do not need it
df.head()

# Next steps
# - Delete the majority of resumes (because we don't need that many)
# - Get 250-ish resumes in total, multiple in each category 
# - clean using RegEx

         ID                                         Resume_str Category
0  16852973           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       HR
1  22323967           HR SPECIALIST, US HR OPERATIONS      ...       HR
2  33176873           HR DIRECTOR       Summary      Over 2...       HR
3  27018550           HR SPECIALIST       Summary    Dedica...       HR
4  17812897           HR MANAGER         Skill Highlights  ...       HR